name: Metrics
on:
  # Update everyday at midnight
  schedule:
    - cron: "0 0 * * *"
  # Allow manual trigger
  workflow_dispatch:
  # Update when pushing to master or main
  push:
    branches:
      - master
      - main

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: BadrHassanTRW
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Africa/Cairo
          
          # Plugins
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          
          plugin_stars: yes
          
          plugin_achievements: yes
          plugin_achievements_display: compact
